* {
  font-family: sans-serif;
}
/* font-family: 'McLaren', cursive; */
body {
  background-position: fixed;
  background-image: url("img/PikePlaceMarket-DSC01983b.jpg");
}

h1 {
  font-size: 2.5em;
  margin-left: 10px;
}

#disclaimerGross {
  font-size: 1.5em;
}

#homePageLink {
  font-size: 1em;
  margin-left: 10px;
}

#salmonmascot {
  margin: auto;
  max-height: 50px;
  }

input {
  display: block;
  margin: 10px;
  width: 50px;
}

table {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  border: solid;
  border-width: 10px;
  border-color: #444;
}

thead {
  font-size: 20px;
}

td {
  empty-cells: hide;
  padding: 3px;
  border-radius: 2px;
  min-width: 50px;
  border-style: solid;
  border-color: salmon;
  border-width: 2px;
  text-align: center;
}

th {
  empty-cells: hide;
  padding: 3px;
  border-radius: 2px;
  min-width: 50px;
  border-style: solid;
  border-color: salmon;
  border-width: 3px;
  text-align: center;
}

form {
  margin-top: 10px;
  margin-left: 10px;
}

form p {
  font-size: 20px;
}

#storeNameInput {
  min-width: 200px;
}

#storeSubmit {
  cursor: pointer;
  width: 220px;
}

fieldset {
  border: solid;
  border-width: 5px;
  border-color: black;
  padding: 5px;
  width: 40%;
}